# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.pyc
*.out

# Ignore directories
build
deploy

# Ignore local editor settings
.vscode/*
