language: cpp

addons:
  apt:
    sources:
      - llvm-toolchain-trusty-7
      - ubuntu-toolchain-r-test
    packages:
      - libglu1-mesa-dev
      - libxxf86vm-dev
      - libxrandr-dev
      - libxinerama-dev
      - libxcursor-dev
      - libxi-dev
      - libx11-dev
      - g++-6
      - g++-8
      - clang-7

matrix:
  include:
    # Standard builds
    - os: linux
      compiler: gcc
      env: CONFIG=Debug
      if: tag IS present
    - os: linux
      compiler: gcc
      env: CONFIG=Release
    - os: linux
      compiler: gcc
      env: CONFIG=RelWithDebInfo
      if: tag IS present
    - os: linux
      compiler: clang
      env: CONFIG=Release
    - os: osx
      compiler: gcc
      env: CONFIG=Debug
      if: tag IS present
    - os: osx
      compiler: gcc
      env: CONFIG=Release
    - os: osx
      compiler: gcc
      env: CONFIG=RelWithDebInfo
      if: tag IS present
    - os: osx
      compiler: clang
      env: CONFIG=Release

    # Custom builds
    - os: linux
      compiler: gcc
      env: MATRIX_EVAL="CC=gcc-6 && CXX=g++-6"
    - os: linux
      compiler: gcc
      env: MATRIX_EVAL="CC=gcc-8 && CXX=g++-8 && CMAKE_EXTRA_ARGS='-DMATERIALX_PYTHON_LTO=OFF'"
    - os: linux
      compiler: clang
      env: MATRIX_EVAL="CC=clang-7 && CXX=clang++-7"

before_install:
  - eval "${MATRIX_EVAL}"

script:
  - mkdir build
  - cd build
  - cmake -DMATERIALX_BUILD_PYTHON=ON -DMATERIALX_BUILD_VIEWER=ON -DMATERIALX_PYTHON_VERSION=2 -DMATERIALX_INSTALL_PYTHON=OFF -DMATERIALX_WARNINGS_AS_ERRORS=ON -DCMAKE_BUILD_TYPE="${CONFIG}" ${CMAKE_EXTRA_ARGS} ..
  - cmake --build . --target install --config "${CONFIG}" -- -j4
  - ctest -VV --output-on-failure --build-config "${CONFIG}"
  - export PYTHONPATH=$PYTHONPATH:$PWD/installed/python
  - cmake -E chdir ../python/MaterialXTest python main.py
  - cmake -E chdir ../python/MaterialXTest python genshader.py

before_deploy:
    # Go to install directory and zip up to create artifact
    - cd ${TRAVIS_BUILD_DIR}/build/installed
    - zip -r ${TRAVIS_BUILD_DIR}/materialx-${TRAVIS_BRANCH}-${TRAVIS_OS_NAME}-${CONFIG}.zip .

deploy:
    # Deploy on main branch. Currently marked as pre-release
    #- provider: releases
    #  api_key:
    #    secure: c9kZbgxrcgNFmTh/TYn+aL4Yqww122YlGNVWaIcKdLpLlRyyrejlyOhnFF1VTnytU6CQGeH580I6IQ21auV1PCAMoD7anWT5sJa5vGo7pCAMFrEKk4PSSSF8LNWw1lHVMw96exI0JHywGx7t2fOYX0COSJab4XK8cM/0FEoJ2/rQYNVXz1oG+4F5B39Jl4zuBfI+oEeD+Q1B6LRMY52uFn1dpRIujYhihBJ3jMwKFzOB0rS/pbKSczQaa4M/HNUvCEupNLKQmnTiHv72JwXRzGsIsqbFJ7e0n6jz2Cv9eGdbVDT2fyEz7Kq8faRPB34wo4PP1DBJAkzpbvejdNvUCXHe+l0MsHbBDe6avjrR7IK1+nu5rT/HzPIqzidPunwKxABfQguYLOE2CZs4hqpwCULGdQ1GR/Hy9vCy7I6MpTw5K9VMRTyt/7MbnVlN/tDy8095Sh9GkJBZPzig7eyw37ylLibXDkmmWx+HrDLV9bP/re+NYk2bXWSHOEr8jgZyxeNJwli2p2WZaMFgfYS0AVdEoujq2b4jWawepkLm1U3UOK71NZLGVjY8tElo3j5NbB6Qbvyr9NNTQbj4BJadiGCfsp57QA1/G4UPXaWSvGWjHUnHkDyUl6AtglB9iciTc6mxxWGS57aPNCsbE+NRRV4E9abBycTeJd2nrLlej1I=
    #  file: ${TRAVIS_BUILD_DIR}/materialx-${TRAVIS_BRANCH}-${TRAVIS_OS_NAME}-${CONFIG}.zip
    #  prerelease: true
    #  skip_cleanup: true
    #  on:
    #    repo: autodesk-forks/MaterialX
    #    # Pick a branch to use.
    #    branch: adsk_config/shaderx
    #    condition: "$CC = gcc"

    # Deploy on tags. Currently marked as pre-release
    - provider: releases
      api_key:
        secure: c9kZbgxrcgNFmTh/TYn+aL4Yqww122YlGNVWaIcKdLpLlRyyrejlyOhnFF1VTnytU6CQGeH580I6IQ21auV1PCAMoD7anWT5sJa5vGo7pCAMFrEKk4PSSSF8LNWw1lHVMw96exI0JHywGx7t2fOYX0COSJab4XK8cM/0FEoJ2/rQYNVXz1oG+4F5B39Jl4zuBfI+oEeD+Q1B6LRMY52uFn1dpRIujYhihBJ3jMwKFzOB0rS/pbKSczQaa4M/HNUvCEupNLKQmnTiHv72JwXRzGsIsqbFJ7e0n6jz2Cv9eGdbVDT2fyEz7Kq8faRPB34wo4PP1DBJAkzpbvejdNvUCXHe+l0MsHbBDe6avjrR7IK1+nu5rT/HzPIqzidPunwKxABfQguYLOE2CZs4hqpwCULGdQ1GR/Hy9vCy7I6MpTw5K9VMRTyt/7MbnVlN/tDy8095Sh9GkJBZPzig7eyw37ylLibXDkmmWx+HrDLV9bP/re+NYk2bXWSHOEr8jgZyxeNJwli2p2WZaMFgfYS0AVdEoujq2b4jWawepkLm1U3UOK71NZLGVjY8tElo3j5NbB6Qbvyr9NNTQbj4BJadiGCfsp57QA1/G4UPXaWSvGWjHUnHkDyUl6AtglB9iciTc6mxxWGS57aPNCsbE+NRRV4E9abBycTeJd2nrLlej1I=
      file: ${TRAVIS_BUILD_DIR}/materialx-${TRAVIS_BRANCH}-${TRAVIS_OS_NAME}-${CONFIG}.zip
      prerelease: true
      skip_cleanup: true
      on:
        repo: autodesk-forks/MaterialX
        #all_branches: true
        branch: adsk_config/shaderx
        tags: true
        condition: "$CC = gcc"
