language: cpp

matrix:
  include:
    # Standard Linux builds
    - os: linux
      compiler: gcc
    - os: linux
      compiler: clang

    # Standard OSX builds
    - os: osx
      compiler: gcc
    - os: osx
      compiler: clang

    # Custom Linux builds
    - os: linux
      compiler: gcc
      env: MATRIX_EVAL="CC=gcc-7 && CXX=g++-7"
      addons:
        apt:
          sources: ubuntu-toolchain-r-test
          packages: g++-7
    - os: linux
      compiler: clang
      env: MATRIX_EVAL="CC=clang-5.0 && CXX=clang++-5.0"
      addons:
        apt:
          sources: llvm-toolchain-trusty-5.0
          packages: clang-5.0

before_install:
    - eval "${MATRIX_EVAL}"

script:
  - mkdir build
  - cd build
  - cmake -DMATERIALX_BUILD_PYTHON=ON -DMATERIALX_INSTALL_PYTHON=OFF -DMATERIALX_WARNINGS_AS_ERRORS=ON ..
  - cmake --build . --target install -- -j4
  - ctest --output-on-failure
  - export PYTHONPATH=$PYTHONPATH:$PWD/installed/python
  - cmake -E chdir ../python/MaterialXTest python main.py
