language: cpp

matrix:
  include:
    - os: linux
      dist: trusty
      compiler: gcc
    - os: linux
      dist: trusty
      compiler: clang
    - os: osx
      compiler: gcc
    - os: osx
      compiler: clang
      
script:
  - mkdir build
  - cd build
  - cmake -DMATERIALX_BUILD_PYTHON=ON ..
  - cmake --build . --target install -- -j4
  - cmake -E chdir source/MaterialXTest ./MaterialXTest
  - cmake -E chdir ../python/MaterialXTest python main.py
